name: Build Mod

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Restore dependencies
        # Point this exactly to your mod's folder
        run: dotnet restore DontStopMeNow/DontStopMeNow.csproj

      - name: Build
        # Point this exactly to your mod's folder and provide the GamePath
        run: dotnet build DontStopMeNow/DontStopMeNow.csproj --configuration Release /p:GamePath="../" /p:IgnoreSmapiCheck=true /p:IgnoreGameDetector=true

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: DontStopMeNow-Build
          path: DontStopMeNow/bin/Release/net6.0/
